<div clas="row" style="display: flex;position: relative;flex-flow: wrap;">
    <!-- <div class="col-md-3"> -->
        <app-sidebar></app-sidebar>
    <!-- </div> -->
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-xl-0 mb-4">
                <mat-card>
                    <mat-card-title>
                        <!-- class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute" -->
                        <div>
                            <!-- <i class="material-icons opacity-10">person</i> -->
                            first div
                        </div>
                        <!-- class="text-end pt-1" -->
                        <div>
                            second div
                            <!-- <p class="text-sm mb-0 text-capitalize">Today's Users</p>
                <h4 class="mb-0">2,300</h4> -->
                        </div>
                    </mat-card-title>
                    <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
                    <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
                    <mat-card-footer>
                        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        footer
                    </mat-card-footer>
                </mat-card>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <mat-card>
                    <mat-card-title>
                        <!-- class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute" -->
                        <div>
                            <!-- <i class="material-icons opacity-10">person</i> -->
                            first div
                        </div>
                        <!-- class="text-end pt-1" -->
                        <div>
                            second div
                            <!-- <p class="text-sm mb-0 text-capitalize">Today's Users</p>
                <h4 class="mb-0">2,300</h4> -->
                        </div>
                    </mat-card-title>
                    <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
                    <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
                    <mat-card-footer>
                        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        footer
                    </mat-card-footer>
                </mat-card>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <mat-card>
                    <mat-card-title>
                        <!-- class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute" -->
                        <div>
                            <!-- <i class="material-icons opacity-10">person</i> -->
                            first div
                        </div>
                        <!-- class="text-end pt-1" -->
                        <div>
                            second div
                            <!-- <p class="text-sm mb-0 text-capitalize">Today's Users</p>
                <h4 class="mb-0">2,300</h4> -->
                        </div>
                    </mat-card-title>
                    <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
                    <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
                    <mat-card-footer>
                        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        footer
                    </mat-card-footer>
                </mat-card>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <mat-card>
                    <mat-card-title>
                        <!-- class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute" -->
                        <div>
                            <!-- <i class="material-icons opacity-10">person</i> -->
                            first div
                        </div>
                        <!-- class="text-end pt-1" -->
                        <div>
                            second div
                            <!-- <p class="text-sm mb-0 text-capitalize">Today's Users</p>
                <h4 class="mb-0">2,300</h4> -->
                        </div>
                    </mat-card-title>
                    <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
                    <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
                    <mat-card-footer>
                        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                        footer
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="card">
        <div class="card-header">Header</div>
        <div class="card-footer">Footer
        </div>
    </div>
</div> -->

<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->



<!-- <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
        <div class="card-header p-3 pt-2">
            <div
                class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
            </div>
            <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Today's Users</p>
                <h4 class="mb-0">2,300</h4>
            </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than last month</p>
        </div>
    </div>
</div> -->